.h1-block {
  max-width: 947px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 61px;
  &__title {
    margin-top: 24px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    /* or 70px */
    text-align: center;
    @include media-tablet {
      font-size: 40px;
      line-height: 44px;
      max-width: 43%;
    }
       @include media-mobile {
      max-width: 80%;
    }
    &--span {
      color: #b0b1ba;
      font-family: "Space Mono";
      font-weight: 400;
      font-size: 70px;
      line-height: 77px;
      font-style: italic;
      @include media-tablet {
        font-size: 40px;
        line-height: 44px;
      }
    }
  }
  &__subtitile {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #b0b1ba;
    margin: 24px 0;
      @include media-tablet {
      font-size: 24px;
      line-height: 120%;
    }
  }
  &__btn {
    background-color: #3784ff;
    border-radius: 12px;
    padding: 12px 24px;
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    &--icn {
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 12px;
    }
  }
}
.beta-label {
  border: 2px solid #efefef;
  border-radius: 40px;
  padding: 8px 20px;
  display: flex;
  font-weight: 600;
  :not(:last-child) {
    margin-right: 12px;
  }
}
